<div class="sidebar">
  <a href="#home" style="font-family:monospace;font-size: 25px;font-weight: bolder"><i class="fa fa-fw fa-cart-plus"></i>CapStore</a>
   <br> <br> 
   <a  routerLink="/dashboard" class="sidem"><i class="fa fa-fw fa-home"></i> Dashboard</a> 
   <a routerLink="/customer"><i class="fa fa-fw fa-wrench"></i> Customers</a> 
   <a routerLink="/merchant"><i class="fa fa-fw fa-user"></i> Merchants</a> 
   <a routerLink="/inventory"><i class="fa fa-fw fa-envelope"></i> Inventory</a>
</div>
<div class="navbar">

</div>
<div class="main"style="padding-left: 120px;background-color:#F5F5F5;">
  <br>
  <br>
  <br>
  <div style="height:1000px;width:100%">
      <router-outlet></router-outlet>
  </div>
</div>


