
<div>
    <h1 style="font-family: Monospace;font-weight: bolder;">Dashboard</h1>
    <br>
    <div class="row">
    <div class="box col-lg-3"> 
      <div class="row">
        <div class="col-lg-6">
          <div style="font-family: Arial;padding:5px 5px 0px 5px;font-size: 28px; font-weight: bold;">$34.6K</div>
          <span style="font-family: Monospace;padding-left: 5px;font-size: 10px;font-weight: bold">Total Sales</span>
        </div>
        <span class="col-lg-6">
          <i class="fa fa-money mi" aria-hidden="true" style="color:darkred;padding: 10px"></i>
        </span>
      </div>
        
    </div>
    
    <div class="col-lg-1"></div>
    
    <div class="box col-lg-3"> 
        <div class="row">
          <div class="col-lg-6">
            <div style="font-family: Arial;padding:5px 5px 0px 5px;font-size: 28px; font-weight: bold;">506</div>
            <span style="font-family: Monospace;padding-left: 5px;font-size: 10px;font-weight: bold">Total Orders</span>
          </div>
          <span class="col-lg-6">
            <i class="fa fa-shopping-cart mi" aria-hidden="true" style="color:darkslategrey;padding: 10px"></i>
          </span>
        </div>
          
      </div>
    
      <div class="col-lg-1"></div>
    
      <div class="box col-lg-3"> 
          <div class="row">
            <div class="col-lg-6">
              <div style="font-family: Arial;padding:5px 5px 0px 5px;font-size: 28px; font-weight: bold;">300</div>
              <span style="font-family: Monospace;padding-left: 5px;font-size: 10px;font-weight: bold">Total Customers</span>
            </div>
            <span class="col-lg-6">
              <i class="fa fa-user-circle mi" aria-hidden="true" style="color:forestgreen;padding: 10px"></i>
            </span>
          </div>
            
        </div>
    </div>

    <!-- customer||merchant||inventory -->
    <div class="row" style="margin-top:80px;">
        <div class="box1 col-lg-3 imgc" onmouseover="func()"> 
            <i class="fa fa-users" style="font-size:170px; padding-left:15px; padding-top:20px;color: white; " aria-hidden="true"></i>
            <span class = "desc">Customer</span>
          </div>
        
        <div class="col-lg-1"></div>
        
        <div class="box1 col-lg-3 imgm"> 
            <i class="fa fa-briefcase" style="font-size:170px; padding-left:35px; padding-top:20px;color: white; " aria-hidden="true"></i>
            <span class = "desc">Merchant</span>
          </div>
        
          <div class="col-lg-1"></div>
        
          <div class="box1 col-lg-3 imgi"> 
              <i class="fa fa-cubes" style="font-size:170px; padding-left:35px; padding-top:20px;color: white; " aria-hidden="true"></i>
              <span class = "desc">Inventory</span>
            </div>
        </div>
    </div>
    
